.content_blog{
	padding-top: 100px;
	/*height: 2510px;*/
	width: 100%
}
.post{
	height: 1098px;
	width: 100%;

}
.post img{
	width: 100%;
	max-height: 350px;
}
.info_post{
	width: 14%;
	float: left;
	padding-top: 27px;

}
.info_post b{
	   font-size: 30px;
    color: #00ffcc;
}
.info_post p{
	   font-size: 11px;
    color: #999999;
}

.date{
	border: 1px solid #9999;
    border-radius: 100%;
    width: 90%;
    height: 95px;
    text-align: center;
	padding-top: 12px;
}
.admin{
	padding-top: 20px;
	width: 90%;
}
.admin ul{
	list-style-type: none;
}
.admin ul li{
	padding-top: 5px;
    border-bottom: 1px solid #9999;
    font-size: 14px;
    color: #999999;
}
.content_post{
	width: 86%;
	
	float: left;
	padding-top: 27px;
	padding-left: 25px;
}
.content_post p{
	clear: both;
	font-size: 14px;
	color: #666666;
	
}
.note_post{
	width: 100%;
	padding-left: 60px;
}
.note_post img{
	width: 8%;
	float: left;
}
.note_post span{
	float: left;
	max-width: 75%;
	padding-left: 15px;
	font-size: 18px;
	font-style: italic;
}
.network{
	width: 100%;
	height: 80px;
	margin-top: 40px;
	border-bottom: 1px solid #e8e8e8;
	
}
.share{
	width: 20%;
	float: left;
	padding-top: 35px;
}
.social{
	width: 80%;
	float: left;
	padding-top: 25px;
}
.social ul{
	list-style-type: none;
}
.social ul li{
	float: right;
	border: 1px solid #e8e8e8;
    padding: 7px;
    width: 7%;
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
}
.social ul li a{
	color: #666666;
}
.next{
	padding-top: 63px;
	padding-bottom: 63px;
	border-bottom: 1px solid #e8e8e8;
	height: 232px;
}
.current_post1{
	width: 50%;
	float: left;
}
.current_post1 img ,.current_post2 img{
	max-width: 120px;
	height: 100px;

}
.current_post1 img{
	float: left;
}
.current_post2{
	max-width: 50%;
	float: right;
	text-align: right;
}
.title_post{

    width: 50%;
    float: left;
    padding-left: 20px;
}
.title_post b{
	font-size: 16px;
}
.title_post a {
	font-size: 14px;
	color: #999999;
}
.comments{
	width: 100%;
	padding-top: 45px;
	height: 553px;
	border-bottom: 1px solid #e8e8e8;
}
.comments .comments1, .comments .comments2{
	padding-top: 35px;
	height: 145px;
}
.comments2{
	padding-left: 10%;
}
.comments .img{
	width: 14%;
	float: left;
}
.comments .comment{
	width: 86%;
	float: left;
	padding-left: 35px;
	font-size: 14px;

}

.name{
	float: left;
	width: 20%;
	padding-top: 10px;

}
.time{
	float: left;
	width: 80%;
}
.time p{
	float: left;
	width: 80%;
	text-align: right;
	padding-right: 25px;
	padding-top: 10px;
	font-size: 12px;
}
.time button{
	float: left;
	width: 20%;
	background-color: #fff;
    border: 1px solid;
    padding: 5px;
}
.submit{
	width: 100%;
	height: 530px;
	padding-top: 60px;
}
.submit b{
	font-size: 24px;
}
.submit form{
	margin-top: 30px;
}
.submit input{
	border: none;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    padding: 20px 0;
}
.submit textarea{
	border: none;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    margin-top: 15px;
}
.submit button{
	background-color: #fff;
	border:1px solid #14f1e4;
	color: #14f1e4;
	padding: 10px;
}
.slider_post{
	width: 85%;
    margin-left: 45px;
    height: 100;
   
    }
.search_post{
	 margin-bottom: 55px;
}
.search_post input{
	border:1px solid #e8e8e8;
	height: 45px;
    padding-left: 30px;
    width: 100%;
}
.recent_post{

}
.post_category hr{
	border-top: 2px solid #14f1e4;
    width: 20%;
}
.slider_post b{
	font-size: 24px;
}
.post_category ul{
	
	list-style-position: inside;
}
.post_category ul li{
	padding: 15px 15px 15px 40px ;
    width: 100%;
    background-color: #f8f8f8;
    border-bottom: 1px solid #fff;
}
.post_category ul li a{
	color: #666666;
}
.recent_post {
	margin-top: 55px;
}
.recent_post hr{
	border-top: 2px solid #14f1e4;
    width: 20%;
}
.recent_post {

}
.recent{
	height: 115px;
    margin: 15px 0 0;
    border-bottom: 1px dotted #e8e8e8;
}
.recent .img{
	float: left;
	width: 33%;
	height: 100%;
}
.recent img{

}
.recent .title{
	width: 67%;
	float: left;
	padding-left: 20px;
}
.recent .title a{
	color: #003333;
	font-size: 14px;
}
.recent .title span{
	color: #999999;
	font-size: 11px;
}
.archive hr{
	border-top: 2px solid #14f1e4;
    width: 20%;
}
.archive ul{
	list-style-position: inside;
}
.archive ul li{
	padding: 12px 0;
	border-bottom: 1px dotted #e8e8e8;
}
.archive ul li a{
	color: #666666;
}
.tag{

}
.tag hr{
	width: 20%;
	border-top: 2px solid #14f1e4;

}
.tag ul{
	list-style-type: none;
	width: 90%;
}
.tag ul li{
	float: left;
    padding: 10px 18px;
    border: 1px solid #9999;
    margin-bottom: 10px;
    margin-right: 10px;
}
.tag ul li a{
	color: #333333;
}